$font-family: 'Manrope', sans-serif;
$font-size-large: 14pt;
$font-size-medium: 9pt;
$font-size-small: 8pt;
$color-primary: hsl(217, 19%, 35%);
$color-primary-light: hsl(214, 17%, 51%);
$color-primary-lighter: hsl(212, 23%, 69%);
$color-blue-lightest: hsl(210, 46%, 95%);
